<div class="container mt-0">
  <div class="text-center mb-4" [@fadeIn] >
    <h2 class="fw-bold text-primary">Admin Dashboard</h2>
    <p class="text-secondary">View user list</p>
  </div>
  <div class="mb-2">
    <button class="btn btn-primary" (click)="showAddForm = !showAddForm">
      <i class="bi bi-plus"></i> Add User
    </button>
  </div>
  <div *ngIf="showAddForm" class="overlays">
    <div class="modal-box">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <button type="button" class="btn-close" (click)="showAddForm = false"></button>
      </div>
      <div class="modal-body">
        <app-auth-form
          [titleHeading]="'Add User'"
          [signUpShow]="true"
          [showForgetPassword]="false"
          [handleSubmit]="false"
          [showRole]="true"
          (formSubmitted)="onAddUser($event)">
        </app-auth-form>
      </div>
    </div>
  </div>
  <div *ngIf="showEditForm" class="overlays">
    <div class="modal-box">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <button type="button" class="btn-close" (click)="showEditForm = false"></button>
      </div>
      <div class="modal-body">
        <app-auth-form
          [titleHeading]="'Edit User'"
          [signUpShow]="true"
          [showForgetPassword]="false"
          [handleSubmit]="false"
          [showRole]="true"
          [isEdit]="true"
          [initialValues]="selectedUser"
          (formSubmitted)="onEditUser($event)">
        </app-auth-form>
      </div>
    </div>
  </div>
  <div [@slideInUp] >
    <app-user-table [show] = 'showViewList' (editUserEvent)="onEditUserEvent($event)"></app-user-table>
  </div>
</div>
