.animated-bar {
  width: 100%;
  height: 67px;
  background-color: var(--bs-primary);
  position: relative;
  overflow: hidden;
}

/* animation element */
.animated-bar::after {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(255,255,255,0.6);
  animation: slide 1.2s forwards linear;
}

@keyframes slide {
  0%   { left: -50%; }
  100% { left: 100%; }
}