<div class="container mt-5">
  <h2>Task Details</h2>
  <div *ngIf="task; else noTask">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Task Number: {{ task.id }}</h5>
        <p class="card-text"><strong>Title:</strong> {{ task.title }}</p>
        <p class="card-text"><strong>Description:</strong> {{ task.description }}</p>
        <p class="card-text"><strong>Comments:</strong></p>
        <ul *ngIf="task.comments.length > 0; else noComments">
          <li *ngFor="let comment of task.comments">{{ comment }}</li>
        </ul>
        <ng-template #noComments>
          <p>No comments</p>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #noTask>
    <p>Task not found.</p>
  </ng-template>
</div>
