.card {
  border-radius: 1rem;
  background-color: #ffffffdd;
}
h2{
  color: #008997;
}
.btn {
  font-weight: bold;
  text-transform: uppercase;
}

.form-label {
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  min-height: 300px; /* Adjust as needed for minimum height */
}

.signup-btn {
  margin-top: auto;
}
