<div class="d-flex flex-column flex-sm-row gap-2 mt-5">
  <div class="input-group w-100 w-md-25 mb-3">
    <span class="input-group-text bg-white">
      <i class="bi bi-search"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Search tasks..."
      [(ngModel)]="searchText"
      (ngModelChange)="search()"
    />
  </div>

  <ng-select
    class="styled-select w-100 w-md-25"
    style="min-width: 150px"
    [items]="filterOptions"
    bindLabel="label"
    bindValue="value"
    [clearable]="false"
    [(ngModel)]="selectedFilter"
    (change)="onFilterChange()"
  >
  </ng-select>

</div>
    <div class="table-responsive mt-3">
      <table class="table table-hover align-middle shadow-sm rounded">
        <thead class="table-light text-center">
          <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Urgent?</th>
            <th>Completed</th>
            <th>Comments</th>
            <th>Edit</th>
            <th *ngIf="role === 'admin'">Delete</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr
            *ngFor="
              let todo of todos
                | paginate
                  : {
                      id: pagingManager.id,
                      itemsPerPage: pagingManager.itemsPerPage,
                      currentPage: pagingManager.currentPage,
                      totalItems: pagingManager.totalItems
                    };
              trackBy: trackById;
              let i = index
            "
            [class.table-success]="todo.completed"
            [@fadeIn]
          >
            <td>
              {{
                (pagingManager.currentPage - 1) * pagingManager.itemsPerPage +
                  (i + 1)
              }}
            </td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td [class]="todo.urgent ? 'text-success' : 'text-danger'">
              {{ todo.urgent ? "Yes" : "No" }}
            </td>
            <td>
              <input
                type="checkbox"
                [checked]="todo.completed"
                (change)="toggleCompleted(todo.id)"
              />
            </td>
            <td>
              <button class="btn btn-dark btn-sm" (click)="viewComments(todo.id)">
                <i class="bi bi-eye text-primary"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-warning btn-sm" (click)="updateTask(todo.id)">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                *ngIf="role === 'admin'"
                (click)="deleteTask(todo.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="w-100 d-flex flex-row align-items-center justify-content-between mt-2 px-2 flex-wrap"
    >
      <div class="d-flex align-items-center gap-2">
        <label class="mb-0">Show</label>

        <ng-select
          class="entries-select"
          [items]="itemsPerPageOptions"
          bindLabel="label"
          bindValue="value"
          [clearable]="false"
          [(ngModel)]="selectedOption"
          (change)="onItemsPerPageChange()"
          [dropdownPosition]="'top'"
          appendTo="body"
        >
        </ng-select>
        <label class="mb-0">entries</label>
      </div>

      <div class="pagination-scroll-container">
        <div class="pagination-wrapper">
          <pagination-controls
            id="PagId"
            (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)"
            [maxSize]="5"
            [directionLinks]="true"
            [responsive]="true"
            screenReaderPaginationLabel="Pagination"
            class="my-pagination"
          >
          </pagination-controls>
    </div>
  </div>
</div>

<!-- Comment Modal -->
<app-view-comment
  *ngIf="showCommentModal && selectedTaskId"
  [taskId]="selectedTaskId"
  (close)="closeCommentModal()">
</app-view-comment>
