<div class="d-flex flex-column flex-sm-row gap-2 mt-5">
  <div class="input-group w-25 mb-3">
    <span class="input-group-text bg-white">
      <i class="bi bi-search"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Search tasks..."
      [(ngModel)]="searchText"
      (ngModelChange)="search()"
    />
  </div>

  <ng-select
    class="styled-select w-25"
    style="min-width: 150px"
    [items]="filterOptions"
    bindLabel="label"
    bindValue="value"
    [clearable]="false"
    [(ngModel)]="selectedFilter"
    (change)="onFilterChange()"
  >
  </ng-select>

</div>
    <div class="table-responsive mt-3">
      <table class="table table-hover align-middle shadow-sm rounded">
        <thead class="table-light text-center">
          <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Urgent?</th>
            <th>Completed</th>
            <th *ngIf="role === 'admin'">Comments</th>
            <th *ngIf="role === 'user'">Comments</th>
            <th>Edit</th>
            <th *ngIf="role === 'admin'">Delete</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr
            *ngFor="
              let todo of todos
                | paginate
                  : {
                      id: pagingManager.id,
                      itemsPerPage: pagingManager.itemsPerPage,
                      currentPage: pagingManager.currentPage,
                      totalItems: pagingManager.totalItems
                    };
              trackBy: trackById;
              let i = index
            "
            [class.completed]="todo.completed"
          >
            <td>
              {{
                (pagingManager.currentPage - 1) * pagingManager.itemsPerPage +
                  (i + 1)
              }}
            </td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td [class]="todo.urgent ? 'text-success' : 'text-danger'">
              {{ todo.urgent ? "Yes" : "No" }}
            </td>
            <td>
              <input
                type="checkbox"
                [checked]="todo.completed"
                (change)="toggleCompleted(todo.id)"
              />
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                (click)="open = !open"
                *ngIf="role === 'admin'"
              >
                <i class="bi bi-plus-circle"></i>
              </button>
              <form #commentForm='ngForm' (ngSubmit)="addComment(commentForm.value)" >
                <div
                class="p-3 bg-info-subtle rounded shadow-sm d-flex align-items-center gap-2 mt-2"
                [@openClose]="open ? 'open' : 'close'"
              >
                <textarea
                  name="comment"
                  class="form-control"
                  rows="2"
                  placeholder="Write your note..."
                  style="resize: none"
                  required
                  ngModel
                  #comment = "ngModel"
                ></textarea>

                <button [disabled]="commentForm.invalid" class="btn btn-primary d-flex align-items-center justify-content-center px-3">
                  <i class="bi bi-send-fill"></i>
                </button>
              </div>
              </form>

            </td>
            <td>
              <button class="btn btn-warning btn-sm" (click)="updateTask()">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                *ngIf="role === 'admin'"
                (click)="deleteTask(todo.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="w-100 d-flex flex-row align-items-center justify-content-between mt-2 px-2 flex-wrap"
    >
      <div class="d-flex align-items-center gap-2">
        <label class="mb-0">Show</label>

        <ng-select
          class="form-select-sm"
          [items]="itemsPerPageOptions"
          bindLabel="label"
          bindValue="value"
          [clearable]="false"
          [(ngModel)]="selectedOption"
          (change)="onItemsPerPageChange()"
          style="width: 40px"
        >
        </ng-select>
        <label class="mb-0">entries</label>
      </div>

      <div class="pagination-scroll-container">
        <div class="pagination-wrapper">
          <pagination-controls
            id="PagId"
            (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)"
            [maxSize]="5"
            [directionLinks]="true"
            [responsive]="true"
            screenReaderPaginationLabel="Pagination"
            class="my-pagination"
          >
          </pagination-controls>
        </div>
      </div>
    </div>