<div class="overlays">
  <div class="modal-box mb-5">
    <div
      class="shadow-sm p-4 min-vh-50 d-flex flex-column justify-content-between"
    >
      <h2 class="text-center text-primary mb-3">RESET PASSWORD</h2>

      <form
        #resetForm="ngForm"
        (ngSubmit)="submit(resetForm)"
        novalidate
        class="d-flex flex-column flex-grow-1"
      >
        <div class="d-flex flex-column flex-grow-1">
          <!-- Email -->
          <div>
            <label class="form-label">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              [class.is-invalid]="email.invalid && email.touched"
              placeholder="Enter email"
              required
              email
              ngModel
              #email="ngModel"
            />
            <div class="small text-danger">
              <span *ngIf="email.touched && email.errors?.['required']"
                >Email is required</span
              >
              <span *ngIf="email.touched && email.errors?.['email']"
                >Invalid email format</span
              >
              <span *ngIf="!(email.invalid && email.touched)" class="invisible"
                >.</span
              >
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-success w-100 mt-3"
          [disabled]="resetForm.invalid || isLoading"
        >
          <span class="spinner-border spinner-border-sm me-2" *ngIf="isLoading"></span>
          {{ isLoading ? 'LOADING...' : 'SEND RESET CODE' }}
        </button>
      </form>
    </div>
  </div>
</div>
