<tr  [class.completed]="todo.completed">
  <td>{{ (currentPage - 1) * pageSize + index + 1 }}</td>
  <td>{{ todo.title }}</td>
  <td [class]="todo.urgent ? 'text-success' : 'text-danger'">{{ todo.urgent ? 'Yes' : 'No' }}</td>
  <td>
    <input type="checkbox" [checked]="todo.completed" (change)="toggleCompleted.emit(todo.id)" />
  </td>
  <td>
    <button class="btn btn-warning btn-sm">Edit</button>
  </td>
  <td>
    <button class="btn btn-danger btn-sm" (click)="deletedTask.emit(todo.id)">Delete</button>
  </td>
</tr>