.list-animate {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s forwards;
  animation-delay: 0.2s;
}

.card-animate:nth-child(2) {
  animation-delay: 0.4s;
}

.card-animate:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}