<div class="card shadow-sm p-4 ">
  <h2 class="card-title text-center text-primary mb-4">{{titleHeading.toUpperCase()}}</h2>
  <form #signUpForm="ngForm" (ngSubmit)="submit(signUpForm)" novalidate>
    <div class="mb-1" *ngIf="showUserName">
      <label for="username" class="form-label" >Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        [class.is-invalid]="username.invalid && username.touched"
        placeholder="Enter username"
        ngModel
        required
        minlength="3"
        #username = "ngModel"
      />
      <div class="invalid-feedback">
        <div *ngIf="username.invalid && username.touched && username.errors?.['required']" >
          Username is required
        </div>
        <div *ngIf="username.invalid && username.touched && username.errors?.['minlength']" >
          Minimum length is 3 characters
        </div>
      </div>
    </div>

    <div class="mb-1">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [class.is-invalid]="email.invalid && email.touched"
        placeholder="Enter email"
        required
        ngModel
        email
        #email = "ngModel"
      />
      <div class="invalid-feedback">
        <div *ngIf="email.invalid && email.touched && email.errors?.['required']" >
          Email is required
        </div>
        <div *ngIf="email.invalid && email.touched && email.errors?.['email']" >
          Invalid email format
        </div>
      </div>
    </div>

    <div class="mb-1">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [class.is-invalid]="password.invalid && password.touched"
        placeholder="Enter password"
        required
        minlength="9"
        ngModel
        #password = "ngModel"
      />
      <div class="invalid-feedback">
        <div *ngIf="password.invalid && password.touched && password.errors?.['required']" >
          Password is required
        </div>
        <div *ngIf="password.invalid && password.touched && password.errors?.['minlength']">
          Minimum length is 9
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="showForgetPassword">
      <a routerLink="#" class="link-secondary small">Forgot password?</a>
    </div>

    <button type="submit" class="btn btn-success w-100 signup-btn" [disabled]="signUpForm.invalid" >{{titleHeading.toUpperCase()}}</button>
  </form>
</div>