<div class="container my-4 mt-5">
  <div class="row g-2 d-flex justify-content-center align-items-center h-100">
    <div class="col-md-7">
      <div class="card  shadow-lg border-0 text-center p-3 bg-primary text-white card-animate ">
        <div class="display-5 fw-bold">{{createdTasksCount}}</div>
        <h6 class="mt-2">Created Tasks</h6>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card shadow-sm border-0 text-center p-3 bg-danger text-white card-animate">
        <div class="display-5 fw-bold">{{urgentTasksCount}}</div>
        <h6 class="mt-2">Urgent Tasks</h6>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card shadow-sm border-0 text-center p-3 bg-success text-white card-animate">
        <div class="display-5 fw-bold">{{completedTasksCount}}</div>
        <h6 class="mt-2">Completed Tasks</h6>
      </div>
    </div>
  </div>
</div>