.container {
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: 0 0.9rem 1.7rem rgba(0,0,0,0.25), 0 0.7rem 0.7rem rgba(0,0,0,0.22);
  height: auto;
  max-width: 770px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    height: 420px;
  }
}

.container__form {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.container--signin {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .container--signin {
  transform: translateX(100%);
}

.container--signup {
  left: 0;
  opacity: 0;
  width: 50%;
  z-index: 1;
}

.container.right-panel-active .container--signup {
  animation: show 0.6s;
  background-color: white;
  opacity: 1;
  transform: translateX(100%);
  z-index: 5;
}

.container__overlay {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: transform 0.6s ease-in-out;
  width: 50%;
  z-index: 100;
}

.container.right-panel-active .container__overlay {
  transform: translateX(-100%);
}

.overlay {
  height: 100%;
  left: -100%;
  position: relative;
  width: 200%;
  transition: transform 0.6s ease-in-out;
  background: linear-gradient(to right, #0367a6, #00515a);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  transition: transform 0.6s ease-in-out;
}

.overlay--left { transform: translateX(-20%); }
.container.right-panel-active .overlay--left { transform: translateX(0); }

.overlay--right { right: 0; transform: translateX(0); }
.container.right-panel-active .overlay--right { transform: translateX(20%); }

.btn {
  background: linear-gradient(90deg, #014976 0%, #120505 74%);
  border-radius: 20px;
  border: 1px solid #125e91;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}